@import './styles/layout';
@import './styles/navbar';
@import './styles/typography';
@import './styles/title';
@import './styles/about';
@import './styles/skills';
@import './styles/resume';
@import './styles/contact';
@import './styles/portfolio';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    color: #a4acc4;
    font-family: 'Montserrat', sans-serif;
    font-size:  1.2rem;
}

span {
    color: #037fff;
}